<html>
<head>
<script type="text/javascript">

var image1=new Image()
image1.src="/images/image1.gif"
var image2=new Image()
image2.src="/images/image2.jpg"
var image3=new Image()
image3.src="/images/image3.png"

</script>
</head>
<body>
  <div style="height:200px;float:left;padding-left:20px;padding-top:65px">
<img src="/public/images/missing.gif" name="slide"/>
<script>
<!--
//variable that will increment through the images
var step=1
function slideit(){
//if browser does not support the image object, exit.
if (!document.images)
return
document.images.slide.src=eval("image"+step+".src")
if (step<3)
step++
else
step=1
//call function "slideit()" every 2.5 seconds
setTimeout("slideit()",2500)
}
slideit()
//-->
</script>

  </div>

<div style="float:right">
<h1>New user</h1>

<%= render 'form' %>
</div>
<div style="height:500px">
  
</div>
</body>

</html>